*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: #fff;
  height: 100%;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #343434;
}

/******************* 
 *                 *
 * Sidebar Section *
 *                 *
********************/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#list-placeholder {
  min-width: 700px;
  min-height: 700vh;
  margin: 0 5px 0 5px;
  background-color: #1c1c1c;
  padding: 50px;
  border-radius: 5px;
  position: relative;
}

#list-placeholder li {
  list-style: none;
}
#list-placeholder .lists .list {
  list-style: none;
}
.hide-before::before {
  display: none;
}

.ph-1x {
  font-size: 1.5em !important;
  font-weight: 400 !important;
}
.lists {
  position: relative;
}

.list {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 5px 8px 19px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.list:hover {
  background-color: #343434;
}

.group {
  align-items: center;
  gap: 15px;
  padding: 0 5px 0 19px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5px;
}

.group .group-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  border-radius: 5px;
  padding: 8px 5px 8px 19px;
  margin-left: -20px;
  margin-right: -4px;
  margin-bottom: 5px;
}

.group .group-container:hover {
  background-color: #343434;
}
.group-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.lists-dropped {
  position: relative;
}
.group-body {
  list-style: none;
  margin-left: 35px;
  padding: 20px 20px 5px;
}
.group-body::before {
  content: "|";
  font-size: 10px;
  padding: 10px 0 0 0;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  left: 40px;
}

.group-body-hidebefore::before {
  content: none;
}

.list::before {
  content: "|";
  font-size: 12px;
  font-weight: 700;
  color: #89bce5;
  background-color: #89bce5;
  border-radius: 10px;
  position: absolute;
  left: 0px;
}
.lists .list:active {
  transform: scale(0.98);
}
.listlist {
  margin-left: -20px;
  margin-right: -4px;
}

.listlist > i {
  padding-left: 40px;
}

.listlist::before {
  margin-left: 40px !important;
}

.hover-sidebar {
  background-color: #343434;
}
.list > *,
.default-list > * {
  pointer-events: none;
}
.boog {
  background-color: red;
}
.goat {
  display: flex;
  gap: 15px;
}
/*==============*/

.hidden {
  display: none !important;
}
